body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}
/* header */
header {
  background: url(../img/wheat-back.jpg) no-repeat bottom;
  background-size: cover;
  height: 492px;
  padding-top: 60px;
}

.container__header {
  width: 800px;
  margin: 0 auto;
}
.header-logo {
  float: left;
  padding: 0;
  margin: 0;
}
.header-logo {
  width: 140px;
  height: 76px;
}
.header-menu {
  float: right;
  line-height: 50px;
  margin-top: 10px;
  padding: 5px 0 5px 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header-menu li {
  float: left;
  padding: 0px 0 0px 55px;
}

.header-menu li:first-child {
  padding-left: 0;
}
.header-menu li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.footer-text {
  font-size: 70px;
  line-height: 70px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: 120px;
}
/* feature */
.container-feature {
  width: 800px;
  margin: 0 auto;
  position: relative;

  margin-bottom: 115px;
}
.feature-left {
  float: left;
  border-left: 1px solid rgba(229, 229, 229, 0.9);
  border-right: 1px solid rgba(229, 229, 229, 0.9);
  padding: 0 30px;
  width: 335px;
  min-height: 755px;
}
.feature-right {
  min-height: 750px;
  float: right;
  width: 335px;
  padding: 0 30px;
  border-right: 1px solid rgba(229, 229, 229, 0.9);
}
.container-feature h3 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 0 5px;
  margin: 5px 0 33px 0;
}
.container-feature .rom {
  margin-left: 5px;
}
.container-feature h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 15px;
  padding: 0;
  margin: 88px 0 85px 0;
}
.feature-sostav-left {
  width: 150px;
  position: absolute;
  right: 426px;
}
.feature-sostav-right {
  width: 150px;
  position: absolute;
  right: 25px;
}
.feature-sostav-left table,
.feature-sostav-right table {
  font-weight: bold;
  text-transform: uppercase;
  border-collapse: collapse;
}
.feature-sostav-left table td,
.feature-sostav-right table td {
  padding: 11px 15px 11px 10px;
  border: 1px solid #e5e5e5;
}
.feature-sostav-left table td {
  padding-right: 22px;
}
.feature-consist p {
  font-size: 14px;
  font-weight: normal;
  color: rgb(68, 68, 68);
  line-height: 24px;
}
.feature-photo {
  margin-left: 9px;
  padding-top: 3px;
}
.left-description {
  line-height: 30px;
  font-weight: normal;
  color: rgb(68, 68, 68);
  margin-bottom: 75px;
  margin-top: 5px;
  padding-top: 0;
}
.btn-1 {
  color: #834700;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
  text-transform: uppercase;
  border: 2px solid #834700;
  margin-right: 3px;
  margin-left: 3px;
}
.btn-2 {
  color: #ffffff;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
  text-transform: uppercase;
  background-color: #834700;
  border: 2px solid #834700;
  margin-right: 20px;
}
/* advantages */
.advantages {
  background-color: #ffcb78;
  min-height: 410px;
}
.container-advantages {
  width: 1015px;
  margin: 0 auto;
}
.container-advantages ul {
  display: flex;
  align-content: center;
  border: none;
  padding-top: 80px;
}
.container-advantages li h2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  margin-top: 0;
}
.container-advantages li p {
  color: #444444;
  line-height: 30px;
}
.container-advantages li {
  padding: 0 60px 0 60px;
  margin: 0;
  position: relative;
  padding-top: 100px;
  border-right: 1px solid #e5b66c;
}
.container-advantages li:first-child {
  padding-left: 40px;
}
.container-advantages li:last-child {
  border: none;
}
.container-advantages li::before {
  content: "";
  position: absolute;
  width: 63px;
  height: 68px;
  top: 0px;
  background: url("../img/spritesheet.png") no-repeat;
}
.container-advantages li:first-child::before {
  background-position: -5px -85px;
}
.container-advantages li:nth-child(2)::before {
  background-position: -5px -163px;
}
.container-advantages li:last-child::before {
  background-position: -5px -238px;
}
/* history*/
.history {
  min-height: 680px;
  padding: 80px;
}
.container-history {
  width: 800px;
  margin: 0 auto;
}
.container-history h2 {
  font-size: 40px;
  line-height: 61px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 60px 0;
}
.container-history dl {
  margin: 0;
  padding: 0;
}
.container-history dd {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 0 60px 0;
}
.container-history p {
  width: 490px;
  color: #444444;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
.container-history dt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.container-history dt span {
  width: 490px;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.container-history dt i {
  font-size: 16px;
  line-height: 30px;
  width: 200px;
}
.container-history dt a {
  color: #834700;
}
/* review */
.review {
  min-height: 395px;
  background-color: #ede5d8;
  padding-top: 80px;
}
.container-review {
  width: 800px;
  margin: 0 auto;
}
.container-review h2 {
  font-size: 40px;
  line-height: 61px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 73px 0;
}
.review-lis {
  margin: 0;
  padding: 0;
}
.review-lis p {
  line-height: 30px;
  color: #404040;
  position: relative;
  margin-bottom: 50px;
  margin-right: 107px;
}
.review-lis p::before {
  position: absolute;
  content: "";
  width: 41px;
  height: 31px;
  background-image: url("../img/quotes.png");
  left: -106px;
  top: 7px;
}
.review-lis i {
  float: right;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
}
.review-lis a {
  color: #bcb6ab;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #a7a198;
  padding: 15px 20px;
}
/* items */
.items {
  min-height: 645px;
  padding-top: 90px;
}
.container-items {
  width: 800px;
  margin: 0 auto;
}
.container-items h2 {
  font-size: 40px;
  line-height: 61px;
  font-weight: bold;
  margin: 0 0 75px 0;
  text-transform: uppercase;
}
.items-list {
  line-height: 30px;
  border-collapse: collapse;
  text-transform: uppercase;
  width: 100%;
}
.items-list th {
  font-size: 11px;
  color: #999999;
  text-align: left;
  padding-bottom: 27px;
  font-weight: normal;
}
.items-list tr {
  border-bottom: 1px solid #e5e5e5;
}
.items-list tr td:first-child {
  font-weight: bold;
}
.items-list th:not(:first-child),
.items-list td:not(:first-child) {
  text-align: right;
}
.items-list tr td:nth-child(4),
.items-list tr th:nth-child(4) {
  text-align: center;
}
.items-list td {
  padding-bottom: 13px;
  padding-top: 20px;
}
.items-list td:not(:first-child) {
  color: #444444;
}
.items-list sup {
  color: #ffffff;
  background-color: #000000;
  font-size: 8px;
  border-radius: 3px;
  padding: 3px;
  margin-left: 17px;
  margin-bottom: 5px;
}
/* order */
.order {
  min-height: 1185px;
  background-color: #ffcb78;
  padding-top: 80px;
}
.container-order {
  width: 800px;
  margin: 0 auto;
}
.container-order h2 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 61px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 75px;
}
.order-tip {
  line-height: 30px;
  color: #444444;
  margin-right: 140px;
  margin-bottom: 70px;
}
.order-form {
  margin-right: 171px;
}
.order-form-group {
  margin-bottom: 10px;
}
.tele .order-form-group:nth-child(1) {
  float: left;
  width: 290px;
  margin-right: 0;
  padding: 0;
}
.tele .order-form-group:nth-child(2) {
  float: right;
  width: 294px;
}
.order-form-group input,
.order-form-group select,
.order-form-group textarea {
  font: inherit;
  border-color: transparent;
  background-color: #e5b66c;
  height: 40px;
}
.order-form-group:first-child input,
.order-form-group input[type="text"],
.order-form-group select,
.order-form-group textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.order-form label {
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  
}
.order-form-group select{
  color: rgba(0, 0, 0, 0.3);
  height: 50px;
}
.order-form-group textarea {
  resize: none;
  height: 120px;
}
.order-form-group input[type="checkbox"] {
  width: 37px;
  height: 37px;
  margin-right: 10px;
  margin-bottom: 40px;
}
/* footer */
.footer {
  min-height: 295px;
  background-color: #000000;
  padding-top: 61px;
}
.container-footer{
  width: 1015px;
  margin: 0 auto;
}
.container-footer ul {
border: none;
}
.footer-top {
  display: flex;
  align-items: center;
  margin-left: 35px;
  margin-bottom: 40px;
}
.footer-top ul {
  display: flex;
  padding: 18px 0 18px 0;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  margin-left: 130px;
  margin-bottom: 10px;
}
.footer-top li {
  padding-right: 55px;
}
.footer-top li:last-child {
  padding-right: 0;
}
.footer-top a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}
.footer-bottom {
  display: flex;
  align-items: center;
    font-size: 0;
}
.social-btn{
  display: inline-block;
  width: 69px;
  height: 69px;
  border: 1px solid #332d24;
  padding: 0;
}
.social-btn a {
  padding: 0;
  margin: 0;
}
.social-btn:first-child {
  background: url("../img/icon-insta.png") no-repeat;
  background-position: center;
  background-color: #1b1b1b;
  padding: 0;
  margin: 0;
  border-right: none;

}
.social-btn:nth-child(2) {
  background: url("../img/icon-fb.png") no-repeat;
  background-position: center;
  background-color: #1b1b1b;
  padding: 0;
  margin: 0;
  border-right: none;
}
.social-btn:last-child {
  background: url("../img/icon-vk.png") no-repeat;
  background-position: center;
  background-color: #1b1b1b;
  padding: 0;
  margin: 0;
  
  margin-right: 90px;
}
.footer-copyright p {
  font-size: 14px;
  line-height: 20px;
  color: #989898;
  width: 205px;
  margin-right: 200px;
}
.developer {
  width: 69px;
  height: 69px;
  border: 1px solid #332d24;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.footer-bottom span{
  font-size: 14px;
  color: #989898;
  line-height: 20px;
}
.footer-bottom span a {
  text-decoration: none;
  color: #989898;
}
